<div class="container">
  <div class="row">
    <a class="btn btn-primary" routerLink="/">Back to Fixtures</a>
  </div>
  <div>
    <div class="form-group">
      <label>Team Name</label>
      <div class="form-control">{{teamDetails.name}}</div>
    </div>
    <div class="form-group">
      <label>Games Won</label>
      <div class="form-control">{{teamDetails.won}}</div>
    </div>
    <div class="form-group">
      <label>Games Drawn</label>
      <div class="form-control">{{teamDetails.draw}}</div>
    </div>
    <div class="form-group">
      <label>Games Lost</label>
      <div class="form-control">{{teamDetails.loss}}</div>
    </div>
    <div class="form-group">
      <label>Goals Scored</label>
      <div class="form-control">{{teamDetails.goalsFor}}</div>
    </div>
    <div class="form-group">
      <label>Goals Conceded</label>
      <div class="form-control">{{teamDetails.goalsAgainst}}</div>
    </div>
  </div>
</div>
